* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
html,body{
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}


/* navbar style */
nav{
  background-color: #b81e1e;
  color: white
}


/* main page style */
.searchBar{
  margin: 30px 20px 10px 20px;

}

button{
  background-color: #b81e1e;
  color: white
}
button:hover{
  background-color: #7c7c7c
}

/* main video */
.main-box{
  display: inline-block;
  margin: 40px 10px 20px 25px;
  border-bottom: 1px solid #f0f0f0;
}
.main-video{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px
}
.main-video iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
h4{
  margin-top: 20px;
  font-size: 1.2em
}
@media only screen and (max-width: 398px){
  h4{
    font-size: 0.9em;
    margin-top:10px
  }
  .main-box > p{
    font-size: 0.8em;
    padding:0
  }
}

/* suggested list */
h4{
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 1.2em;
}
.youtube-list{
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px
}

.youtube-list-item{
  border-bottom: 1px solid #dfdfdf;
  padding: 12px;
  padding-bottom: 5px;
  text-decoration: none;
  color: grey
 
}
.youtube-list-item:hover{
 cursor: pointer;
}
.youtube-list-item > img{
   width:100%;
   height: auto;
   margin-bottom: 10px;
   border-bottom: 4px solid rgb(94, 11, 11)
 }
.youtube-list-item > img:hover{
  position: relative;
  top:-0.5px;
  box-shadow:0 0 4px 2px rgba(0, 140, 186, 0.8);

}


h6{
  margin-top:5px;
  font-size: 0.9em;
}
h6:hover{
  color:  rgba(0, 140, 186, 0.8)
}
.channel{
  font-size: 12px;
  margin-bottom: 4px
}
.channel:hover{
  font-size: 12px;
  color:  rgba(0, 140, 186, 0.8)
}
@media only screen and (max-width: 768px){
  .youtube-list{
    flex-direction: row;
    flex-wrap: wrap
  }
  .youtube-list-item{
    width:33%
  }
  .youtube-list h4{
    margin-right: 55%
  }
}
@media only screen and (max-width: 576px){
  .youtube-list-item{
    width:45%
  }
  .youtube-list h4{
    margin-right: 45%
  }
}

/* history list */
a{
  text-decoration: none;
  color: grey
}
a:hover{
  text-decoration: none;
  
}
.youtube-history{
 margin: 20px 15px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding: 5px;
  
}
@media only screen and (max-width: 768px){
  .youtube-history{
    flex-direction: row;
    flex-wrap: wrap
  }
  .youtube-list-item-history{
    width:33%
  }
  .youtube-history h4{
    margin-right: 55%
  }
}
@media only screen and (max-width: 576px){
  .youtube-list-item-history{
    width:45%
  }
  .youtube-list h4{
    margin-right: 45%
  }
}
.youtube-list-item-history{
  border-bottom: 1px solid #dfdfdf;
  padding: 12px;
  padding-bottom: 5px;
  text-decoration: none;
  color: grey
}

.youtube-list-item-history > img{
  width:100%;
  height: auto;
  margin-bottom: 10px;
  border-bottom: 4px solid rgb(94, 11, 11)
}


/* footer style */
footer{
  background-color:#b81e1e;
  color: white;
  height: 40px;
}
footer p{
  line-height: 40px
}



